@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Saiba mais <a href="https://docs.microsoft.com/aspnet/core">Construindo aplicações web em AspNetCore</a>.</p>
</div>
